# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
servx

# Temporary files
*.d

# Test files
*stub*

# Coredump files
core*

# Ctags file
tags

# CScope files
cscope.*

# Vim swap files
*.swp

# Hidden files
.*
*~

# Enable .gitignore
!.gitignore
